11.1
Create a file called zoo.py with a function hours() that prints 'Open 9-5 daily'. Import it and call the function.

In [ ]:
def hours():
    print("Open 9-5 daily")

In [ ]:
import zoo
zoo.hours()

11.2
Import zoo module as menagerie and call hours().

In [ ]:
import zoo as menagerie
menagerie.hours()

16.8
Use the SQLAlchemy module to connect to the SQLite database `books.db` that was created in exercise 16.4.  
Select and print the `title` column from the `book` table in alphabetical order.

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, select

# Connect to the SQLite database
engine = create_engine('sqlite:///books.db')

# Reflect the existing database
metadata = MetaData()
book_table = Table('book', metadata, autoload_with=engine)

# Build a select statement for the title column, ordered alphabetically
stmt = select(book_table.c.title).order_by(book_table.c.title)

# Execute the statement and fetch results
with engine.connect() as conn:
    results = conn.execute(stmt).fetchall()

# Print all book titles
for row in results:
    print(row[0])